<!-- Toolbar -->
<mat-toolbar>
  <span>Die LehrerHilfe</span>
  <span class="example-spacer"></span>
  <mat-form-field style="font-size: 14px; padding-top: 8px; width: 80px">
    <mat-label>Klasse...</mat-label>
    <mat-select (valueChange)="selectClass($event)" [formControl]="currentSelectedClassFormControl">
      <mat-option *ngFor="let availableClass of availableClasses$ | async" [value]="availableClass">
        {{ availableClass }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button (click)="sidenavToggleButtonClicked()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
