<h1>{{ selectedSchoolClass.name }} ({{ selectedSchoolClass.schoolSubjects }})</h1>

<table mat-table multiTemplateDataRows [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- FirstName Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>Vorname</th>
    <td mat-cell *matCellDef="let student">{{ student.firstName }}</td>
  </ng-container>

  <!-- LastName Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Nachname</th>
    <td mat-cell *matCellDef="let student">{{ student.lastName }}</td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action" stickyEnd>
    <th mat-header-cell *matHeaderCellDef class="action-column"></th>
    <td mat-cell *matCellDef="let student" class="action-column">
      <button mat-button (click)="editStudent(student)"><mat-icon>edit</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let schoolClass; columns: displayedColumns"
  ></tr>
</table>
