:host {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidenav-container {
  // Toolbar has height of 64px
  height: calc(100% - 64px);
}

h1.example-app-name {
  margin-left: 8px;
}

.component-container {
  padding: 8px;
}
